<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
     
  <configuration>   
   <typeAliases> 
	<typeAlias alias="bvo" type="com.myin.team25.domain.BoardVo"/>
	<typeAlias alias="mvo" type="com.myin.team25.domain.MemberVo"/>
	<typeAlias alias="cvo" type="com.myin.team25.domain.CommentVo"/>
 	<typeAlias alias="cri" type="com.myin.team25.domain.Criteria"/>
  	<typeAlias alias="scri" type="com.myin.team25.domain.SearchCriteria"/>
  </typeAliases> 
 </configuration>